body  {
font-family: 'Lato', sans-serif;
padding-top: 70px;
color: #0066cc;
}

.jumbotron {
;
}

.navbar-default {
background-color: #0066cc;
}

.navbar-default .navbar-nav>li>a {
color: #eee;
}

.navbar-brand {
font-size: 2.5rem;
font-weight: bold;
color: #eee;
}
