body  {
font-family: 'Lato', sans-serif;
padding-top: 70px;
color: #2366BD;
}

.jumbotron {
;
}

.navbar-default {
background-color: #2366BD;
}

.navbar-default .navbar-nav>li>a {
color: #eee;
}

.navbar-brand {
font-size: 2rem;
font-weight: bold;
}

.a navbar-brand {
color: white;
}


.footernotes {
background-color: #2366BD;
color: #eee;
}
